body{
    display: flex;
    flex-direction: column;
    margin: 0;
}


header, footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #1F2937;
    flex: 1;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}

header a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    gap: 20px;
}

/*First container design elements*/

.first-container{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1F2937;
    color: white;
    padding-top: 70px;
    flex: 1;
    justify-content: center;
}

.signup-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 50px;
    max-width: 550px;
    margin-right: 20px;
}

.signup-container button{
    width: 100px;
    background-color: rgb(67, 177, 241);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.image-placeholder{
    display: flex;
    flex:1;
    background-color: grey;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    max-width: 350px;
    min-width: 200px;

}
/*Second container design elements*/

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-border{
    border: 2px solid rgb(25, 205, 236);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: auto;
}

.info-images{
    display: flex;
    justify-content: center;
    margin: 10px;

}

.info-image p{
    max-width: 100px;
    text-align: center;
    margin: 5px 20px;

}

h3{
    text-align: center;
}

/*Third container design elements*/

.quote-container{
    display: flex;
    background-color: rgb(226, 226, 226);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.quote-container p{
    font-size: 25px;
    font-style: italic;
    max-width: 500px;
    min-width: 450px;
    color: rgb(78, 78, 78);
    margin-bottom: 0;
    flex-wrap: wrap;
}

.quote-container .someone{
    color: black;
    display: flex;
    margin-left: 570px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}